    RewriteEngine On
    RewriteBase /

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	#RewriteRule ^[\w\/\-_]+$ Canopy/Canopy.php
	#RewriteRule ^altair[\w\/\-_]+$ backend/altair.php
	#RewriteRule ^[\w\/\-_]+$ backend/gatekeeper.php
	RewriteRule ^[\w\/\-\_\+\s]+$ entrypoint.php
	#RewriteRule ^[\w\W]+$ backend/altair.php
	
	RewriteCond %{REQUEST_URI} \.(js|css)$ [NC]
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ([\w\-_\/]+)([\w\-_\.]+)$ /$1$2